/* background */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-position: top left,bottom right ;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 72%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
}

.logo h2{
    font-size:45px;
    font-weight: 900px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    text-align: justify;
    text-decoration: none;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    
}

.Btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
    
}
.Btn2{
    cursor: pointer;
    color: #FD6E0A;
    border-radius: 5px;
    border-color: #FD6E0A;
    background-color: #FFF8F3;
    font-size: 20px;
    padding: 18px 35px;
    margin: 30px
    
}

#banner{
    margin: 46px 71px 0px 170px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    max-height: 648px;
    vertical-align: middle;
}

#about ,#skills,#resume{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;

}

.skill-box .skills-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000038;
    max-width: 267px;
}

.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 20px;
    color:#181818;
    margin-bottom: 20px;
}

.skills-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-container hr{
    margin: 30px 0;
}

